<div class="landing-container">
  <div class="landing-logo">
    <img class="landing-logo__img" src="assets/img/logo-blue.svg" alt="Blue Yodl Logo">
  </div>
  <h1 class="landing-heading">Creating Live Music <span class="landing-heading--underlined">Opportunities</span></h1>
  <div class="landing-cta">
    <img class="landing-cta__graphic" src="assets/img/pick.png" alt="Pick Info-graphic">
    <div class="landing-cta__form">
      <app-notify></app-notify>
    </div>
  </div>
  <img class="landing-container__background-image" src="assets/img/sound.png" alt="Sound wave image">
</div>
