// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$yodl-prelaunch-primary: mat-palette($mat-indigo);
$yodl-prelaunch-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$yodl-prelaunch-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$yodl-prelaunch-theme: mat-light-theme($yodl-prelaunch-primary, $yodl-prelaunch-accent, $yodl-prelaunch-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($yodl-prelaunch-theme);

/* You can add global styles to this file, and also import other style files */
html {
  font-size: 62.5%;
}

html,
body {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Raleway", "Helvetica Neue", sans-serif;
  background-image: url(assets/img/desktop-bg.png);
  background-position: top 0 right 0;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 900px) {
  html {
    font-size: 50%;
  }
}
